<div mat-dialog-title class="h1-responsive text-align titre_modal_add">DETAILS AGENT</div>
<mat-dialog-content>
    <mat-accordion class="example-headers-align" multi>
        <div class="example-action-buttons">
            <button *ngIf="showIcon" mat-raised-button color="primary" (click)="accordion.openAll(); showIcon = !showIcon">
                <mat-icon>expand_more</mat-icon> Afficher
            </button>
            <button *ngIf="!showIcon" mat-raised-button color="warn" (click)="accordion.closeAll(); showIcon = !showIcon">
                <mat-icon>expand_less</mat-icon> Fermer
            </button>
        </div>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon>folder_open</mat-icon>
                    <span> Informations sur l'agent</span>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>
                <span>Nom : </span>{{ tirage.agent.nom }}
            </mat-panel-description>
            <mat-panel-description>
                <span>Prénom : </span>{{ tirage.agent.prenom }}
            </mat-panel-description>
            <mat-panel-description>
                <span>Date de Naissance : </span>{{ tirage.agent.dateNaissance | date }}
            </mat-panel-description>
            <mat-panel-description>
                <span>Date Engagement: </span>{{ tirage.agent.dateEngagement | date}}
            </mat-panel-description>
            <mat-panel-description>
                <span>Religion : </span>{{ tirage.agent.religion }}
            </mat-panel-description>
            <mat-panel-description>
                <span>Sexe : </span>{{ tirage.agent.sexe }}
            </mat-panel-description>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon>supervisor_account</mat-icon>
                    <span> Informations sur l'Agent declencheur du tirage</span>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>
                <span>Matricule : </span>{{ tirage.matriculeAgent }}
            </mat-panel-description>
            <mat-panel-description>
                <span>Nom : </span>{{ tirage.nomAgent }}
            </mat-panel-description>
            <mat-panel-description>
                <span>Prénom : </span>{{ tirage.prenomAgent }}
            </mat-panel-description>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon>folder_open</mat-icon>
                    <span> Dossier Pelerinage</span>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>
                <span>Code : </span>{{ tirage.dossierPelerinage?.code }}
            </mat-panel-description>
            <mat-panel-description>
                <span>Année : </span>{{ tirage.dossierPelerinage?.annee }}
            </mat-panel-description>
            <mat-panel-description>
                <span>Description : </span>{{ tirage.dossierPelerinage?.description }}
            </mat-panel-description>
        </mat-expansion-panel>

    </mat-accordion>
</mat-dialog-content>
