<fury-page-layout mode="card">
    <fury-page-layout-header>
      <fury-breadcrumbs [@fadeInRight] [crumbs]="['gestion-colonie']" current="dossier-colonie"></fury-breadcrumbs>
    </fury-page-layout-header>
  
    <fury-page-layout-content [@fadeInUp]>
      <fury-list *ngIf="dossierColonies.length !== 0 && showProgressBar === true" name="Dossier Colonie" [columns]="columns" (filterChange)="onFilterChange($event)">
        <div class="actions">
          <button class="create" (click)="createDossierColonie()" [disabled]="(currentDossierColonie && currentDossierColonie.etat !== fermer) || !hasAnyRole(['MENU_DOTATION'])" type="button" mat-mini-fab color="primary">
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <table [dataSource]="dataSource" mat-table matSort>
          <!-- Checkbox Column -->
          <ng-container matColumnDef="checkbox">
            <th mat-header-cell *matHeaderCellDef class="actions-cell">
              <mat-checkbox color="primary" (click)="$event.stopPropagation()"></mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row" class="actions-cell">
              <mat-checkbox color="primary" (click)="$event.stopPropagation()"></mat-checkbox>
            </td>
          </ng-container>
  
          <!-- Dynamic Columns -->
          <ng-container *ngFor="let column of columns">
            <ng-container *ngIf="column.isModelProperty" [matColumnDef]="column.property">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ column.name }} </th>
              <td mat-cell *matCellDef="let row">
                <ng-container *ngIf="column.property === 'etat'">
                  <span class="badge" [ngClass]="{
                    'badge-warning': row[column.property] === saisi,
                    'badge-info': row[column.property] === ouvert,
                    'badge-success': row[column.property] === fermer
                  }">
                    {{ row[column.property] }}
                  </span>
                </ng-container>
            
                <ng-container *ngIf="column.property !== 'etat'">
                  <!-- Si la propriété est 'noteMinistere', afficher uniquement le nom du fichier -->
                  <span *ngIf="column.property === 'noteMinistere' && row.noteMinistere">{{ row.noteMinistere.name }}</span>
                  <span *ngIf="column.property === 'demandeProspection' && row.demandeProspection">{{ row.demandeProspection.name }}</span>
                  <!-- Sinon, afficher la valeur normale -->
                  <span *ngIf="column.property !== 'noteMinistere' && column.property !== 'demandeProspection'">{{ row[column.property] }}</span>
                </ng-container>
               </td>
            </ng-container>
          </ng-container>
  
          <!-- Actions Column -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="actions-cell"></th>
            <td mat-cell *matCellDef="let row" class="actions-cell">
              <button mat-icon-button [matMenuTriggerFor]="actionsMenu" (click)="$event.stopPropagation()">
                <mat-icon>more_horiz</mat-icon>
              </button>
              <mat-menu #actionsMenu="matMenu">
                <button mat-menu-item (click)="updateDossierColonie(row)" [disabled]="!hasAnyRole(['MENU_DOTATION']) || row.etat == ouvert">
                  <mat-icon>edit</mat-icon>
                  <span>MODIFIER</span>
                </button>
                <button mat-menu-item (click)="deleteDossierColonie(row)" [disabled]="!hasAnyRole(['MENU_DOTATION']) || row.etat !== saisi">
                  <mat-icon>delete_sweep</mat-icon>
                  <span>SUPPRIMER</span>
                </button>
                <button mat-menu-item (click)="ouvrirDossierColonie(row)" [disabled]="!hasAnyRole(['MENU_DOTATION']) || row.etat === ouvert || row.etat === fermer">
                  <mat-icon>send</mat-icon>
                  <span>OUVRIR</span>
                </button>
                <button mat-menu-item (click)="fermerDossierColonie(row)" [disabled]="!hasAnyRole(['MENU_DOTATION']) || row.etat === fermer || row.etat === saisi">
                  <mat-icon>close</mat-icon>
                  <span>FERMER</span>
                </button>
              </mat-menu>
            </td>
          </ng-container>
  
          <!-- Table Header and Rows -->
          <tr mat-header-row *matHeaderRowDef="visibleColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: visibleColumns" (click)="detailsDossierColonie(row)" class="clickable"></tr>
        </table>
  
        <mat-paginator [pageSize]="pageSize" class="paginator"></mat-paginator>
      </fury-list>
  
      <div *ngIf="dossierColonies.length === 0 && showProgressBar === true" class="card text-center">
        <div class="card-header">
          <span class="badge badge-info">INFORMATION</span>
        </div>
        <div class="card-body">
          <h5 class="card-title">DOSSIER COLONIE VIDE</h5>
          <p class="card-text">Ajouter un nouveau dossier de colonie</p>
          <button mat-mini-fab color="primary" *ngIf="hasAnyRole(['DOSSIER_COLONIE_ADD'])" (click)="createDossierColonie()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <div class="card-footer text-muted">
          {{date | date : 'dd/MMM/yyyy HH:mm:ss'}}
        </div>
      </div>
  
      <mat-progress-bar *ngIf="showProgressBar === false" mode="query" color="primary"></mat-progress-bar>
    </fury-page-layout-content>
  </fury-page-layout>
  