<div mat-dialog-title class="h1-responsive text-align titre_modal_add">LISTE COLONS</div>
<mat-dialog-content>
    <fury-list *ngIf="colons.length !== 0 && showProgressBar === false" name="Colons" [columns]="columns">
        <table [dataSource]="[colons]" mat-table matSort>
  
          <!-- Dynamic Columns -->
          <ng-container *ngFor="let column of columns">
            <ng-container [matColumnDef]="column.property">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ column.name }} </th>
              <td mat-cell *matCellDef="let row">
                <span *ngIf="column.property == 'dateNaissance'">{{ row[column.property] | date: 'dd-MMM-yyyy' }}</span>
                <span *ngIf="column.property !== 'dateNaissance'">{{ row[column.property] }}</span>
              </td>
            </ng-container>
          </ng-container>
  
          <!-- Table Header and Rows -->
          <tr mat-header-row *matHeaderRowDef="visibleColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: visibleColumns"  class="clickable"></tr>
        </table>
  
        <mat-paginator [pageSize]="10" class="paginator"></mat-paginator>
      </fury-list>
</mat-dialog-content>
