<fury-page-layout mode="card">
  <fury-page-layout-header>
    <fury-breadcrumbs [@fadeInRight] [crumbs]="['gestion-colonie']" current="Historique colonie"></fury-breadcrumbs>
  </fury-page-layout-header>

  <!-- Date Picker -->
  <div class="example-container">
    <mat-form-field appearance="fill">
      <input matInput [matDatepicker]="picker" placeholder="choisir une date" [formControl]="dateV">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker (yearSelected)="yearSelected($event)" startView="multi-year"></mat-datepicker>
    </mat-form-field>
  </div>

  <!-- Chart -->
  <div class="chart-wrapper" *ngIf="anneeSelected">
    <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" height="25" width="90"
        [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType">
    </canvas>
  </div>

  <!-- Dossier Colonie Table -->
  <fury-page-layout-content [@fadeInUp]>
    <div mat-dialog-title class="titre_modal_add" >Liste Dossiers Colonies</div>

    <fury-list *ngIf="dossierColonies.length !== 0 && showProgressBar" name="Dossier Colonie" [columns]="dossiercolumns" (filterChange)="onFilterChange($event)">
      <table [dataSource]="dataSource" mat-table matSort>
        <!-- Checkbox Column -->
        <ng-container matColumnDef="checkbox">
          <th mat-header-cell *matHeaderCellDef class="actions-cell">
            <mat-checkbox color="primary" (click)="$event.stopPropagation()"></mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row" class="actions-cell">
            <mat-checkbox color="primary" (click)="$event.stopPropagation()"></mat-checkbox>
          </td>
        </ng-container>

        <!-- Dynamic Columns for Dossier Colonies -->
        <ng-container *ngFor="let column of dossiercolumns">
          <ng-container *ngIf="dataSource && column.isModelProperty || column.property === 'ajoutePar'" [matColumnDef]="column.property">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ column.name }}</th>
            <td mat-cell *matCellDef="let row">
              <!-- Content based on column properties -->
              <p *ngIf="column.property === 'etat' && row[column.property] === saisi">
                <span class="badge badge-warning">{{ row[column.property]}}</span>
            </p>
            <p *ngIf="column.property === 'etat' && row[column.property] === ouvert">
                <span class="badge badge-success">{{ row[column.property]}}</span>
            </p>
            <p *ngIf="column.property === 'etat' && row[column.property] === fermer">
                <span class="badge badge-danger">{{ row[column.property]}}</span>
            </p>
              <p *ngIf="column.property === 'ajoutePar'">
                {{ (row.matricule + ' | ' + row.prenom + ' ' + row.nom + ' - ' + row.fonction) | titlecase }}
              </p>
              <p *ngIf="column.property === 'noteMinistere' && row.noteMinistere" >
                <span>Disponible</span>
              </p>
              <p *ngIf="column.property === 'demandeProspection' && row.demandeProspection" >
                <span>Disponible</span>
              </p>
              <p *ngIf="column.property === 'noteInformation' && row.noteInformation" >
                <span>Disponible</span>
              </p>
              <p *ngIf="column.property === 'noteInstruction' && row.noteInstruction" >
                <span>Disponible</span>
              </p>
              <p *ngIf="column.property === 'rapportMission' && row.rapportMission" >
                <span>Disponible</span>
              </p>
              <p *ngIf="column.property == 'createdAt'" > {{ row.createdAt | date: 'dd-MMM-yyyy' }}</p>
              <p *ngIf="column.property !== 'etat' && column.property !== 'rapportMission' && column.property !== 'createdAt' && column.property !== 'noteInstruction' && column.property !== 'noteInformation' && column.property !== 'demandeProspection' && column.property !== 'noteMinistere'">
                <span>{{ row[column.property]}}</span>
            </p>
            </td>
          </ng-container>
        </ng-container>

        <!-- Actions Column for Dossier Colonies -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="actions-cell"></th>
          <td mat-cell *matCellDef="let row" class="actions-cell">
            <button mat-icon-button [matMenuTriggerFor]="actionsMenu" (click)="$event.stopPropagation()">
              <mat-icon>more_horiz</mat-icon>
            </button>
            <mat-menu #actionsMenu="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="fileMenu">
              <mat-icon>visibility</mat-icon>
              <span>AFFICHER FICHIER</span>
            </button>
            <mat-menu #fileMenu="matMenu">
              <button mat-menu-item (click)="onCellClick('noteMinistere', row)"[disabled]="!hasAnyRole(['MENU_DOTATION'])  || !row.noteMinistere">
                <span>Note Ministère</span>
              </button>
              <button mat-menu-item (click)="onCellClick('demandeProspection', row)"[disabled]="!hasAnyRole(['MENU_DOTATION'])  || !row.demandeProspection">
                <span>Demande Prospection</span>
              </button>
              <button mat-menu-item (click)="onCellClick('noteInformation', row)"[disabled]="!hasAnyRole(['MENU_DOTATION'])  || !row.noteInformation">
                <span>Note Information</span>
              </button>
              <button mat-menu-item (click)="onCellClick('noteInstruction', row)"[disabled]="!hasAnyRole(['MENU_DOTATION'])  || !row.noteInstruction">
                <span>Note Instruction</span>
              </button>
              <button mat-menu-item (click)="onCellClick('rapportMission', row)"[disabled]="!hasAnyRole(['MENU_DOTATION'])  || !row.rapportMission">
                <span>Rapport Mission</span>
              </button>
            </mat-menu>
          </mat-menu>
          </td>
        </ng-container>

        <!-- Table Header and Rows -->
        <tr mat-header-row *matHeaderRowDef="visibleDossierColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: visibleDossierColumns" class="clickable"></tr>
      </table>
      <mat-paginator [pageSize]="pageSize" class="paginator"></mat-paginator>
    </fury-list>
    <div *ngIf="dossierColonies.length === 0 && showProgressBar" class="card text-center">
      <div class="card-header">
        <span class="badge badge-info">INFORMATION</span>
      </div>
      <div class="card-body">
        <h5 class="card-title">PAS DE DOSSIERS COLONIE</h5>
      </div>
      <div class="card-footer text-muted">
        {{ date | date: 'dd/MMM/yyyy HH:mm:ss' }}
      </div>
    </div>
    <mat-progress-bar *ngIf="!showProgressBar" mode="query" color="primary"></mat-progress-bar>
  </fury-page-layout-content>
  <fury-page-layout-header>
  </fury-page-layout-header>  <!-- Colon Table -->
  <fury-page-layout-content [@fadeInUp]>
    <div mat-dialog-title class="titre_modal_add" >Liste Colons Colonies</div>
    <fury-list *ngIf="colon.length !== 0 && showProgressBar" name="Colons" [columns]="colonColums" (filterChange)="onFilterChange($event)">
      <div class="actions"></div>
      <table [dataSource]="colonDataSource" mat-table matSort>
        <!-- Dynamic Columns for Colons -->
        <ng-container *ngFor="let column of colonColums">
          <ng-container *ngIf="colonDataSource && column.isModelProperty || column.property == 'ajoutePar'" [matColumnDef]="column.property">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ column.name }}</th>
            <td mat-cell *matCellDef="let row">
              <p *ngIf="column.property == 'codeDossier'">{{ row[column.property].code }}</p>
              <p *ngIf="column.name === 'Status'">
                <span *ngIf="row?.status === 'A VALIDER'" class="badge badge-warning">{{ 'A Valider' }}</span>
                <span *ngIf="row?.status === 'VALIDER'" class="badge badge-success">{{ 'Validé(e)' }}</span>
                <span *ngIf="row?.status === 'REJETER'" class="badge badge-danger">{{ 'Rejeté(e)' }}</span>
              </p>
              <p *ngIf="column.property == 'ajoutePar'" > {{(row.matriculeAgent + ' | ' + row.prenomAgent + ' ' + row.nomAgent) | titlecase }}</p>
              <p *ngIf="column.property == 'dateNaissance'" > {{ row.dateNaissance | date: 'dd-MMM-yyyy' }}</p>
              <p *ngIf="column.property == 'ficheSocial' && row[column.property]" > Disponible</p>
              <p *ngIf="column.property == 'document' && row[column.property]">Disponible</p>
              <p *ngIf="column.name !== 'Status' && column.property !== 'ficheSocial'&& column.property !== 'document' && column.property !== 'ajoutePar'  && column.property !== 'codeDossier'  && column.property !== 'dateNaissance'">
                    {{ row[column.property] }}
              </p>
            </td>
          </ng-container>
        </ng-container>

        <!-- Actions Column for Colons -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="actions-cell"></th>
          <td mat-cell *matCellDef="let row" class="actions-cell">
            <button mat-icon-button [matMenuTriggerFor]="actionsMenu" (click)="$event.stopPropagation()">
              <mat-icon>more_horiz</mat-icon>
            </button>
            <mat-menu #actionsMenu="matMenu">
              <button mat-menu-item [matMenuTriggerFor]="fileMenu">
                <mat-icon>visibility</mat-icon>
                <span>AFFICHER FICHIER</span>
              </button>
              <mat-menu #fileMenu="matMenu">
                <button mat-menu-item (click)="onCellClick('ficheSocial', row)"[disabled]="!hasAnyRole(['MENU_DOTATION'])  || !row.ficheSocial">
                  <span>Fiche Sociale</span>
                </button>
                <button mat-menu-item (click)="onCellClick('document', row)"[disabled]="!hasAnyRole(['MENU_DOTATION']) || !row.document">
                  <span>Autres documents</span>
                </button>
              </mat-menu>
            </mat-menu>
          </td>
        </ng-container>

        <!-- Table Header and Rows -->
        <tr mat-header-row *matHeaderRowDef="visibleColonColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: visibleColonColumns" class="clickable"></tr>
      </table>
      <mat-paginator [pageSize]="colonPagesize" class="paginator"></mat-paginator>
    </fury-list>
    <div *ngIf="colon.length === 0 && showProgressBar" class="card text-center">
      <div class="card-header">
        <span class="badge badge-info">INFORMATION</span>
      </div>
      <div class="card-body">
        <h5 class="card-title">LISTE DES COLONS VIDE</h5>
      </div>
      <div class="card-footer text-muted">
        {{ date | date: 'dd/MMM/yyyy HH:mm:ss' }}
      </div>
    </div>
    <mat-progress-bar *ngIf="!showProgressBar" mode="query" color="primary"></mat-progress-bar>
  </fury-page-layout-content>
</fury-page-layout>
