<fury-page-layout mode="card">
  <fury-page-layout-header>
    <fury-breadcrumbs [@fadeInRight] [crumbs]="['gestion-colonie']" current="Historique colonie"></fury-breadcrumbs>
  </fury-page-layout-header>
  <div class="example-container">
    <mat-form-field appearance="fill">
      <input matInput [matDatepicker]="picker" placeholder="choisir une date" [formControl]="dateV">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker (yearSelected)="yearSelected($event)" startView="multi-year"></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="chart-wrapper" *ngIf="anneeSelected">
    <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" height="25" width="90"
        [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType">
    </canvas>
  </div>
  <fury-page-layout-content [@fadeInUp]>

    <fury-list *ngIf="dossierColonies.length !== 0 && showProgressBar === true" name="Dossier Colonie" [columns]="columns" (filterChange)="onFilterChange($event)">
      <table [dataSource]="dataSource" mat-table matSort>
        <!-- Checkbox Column -->
        <ng-container matColumnDef="checkbox">
          <th mat-header-cell *matHeaderCellDef class="actions-cell">
            <mat-checkbox color="primary" (click)="$event.stopPropagation()"></mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row" class="actions-cell">
            <mat-checkbox color="primary" (click)="$event.stopPropagation()"></mat-checkbox>
          </td>
        </ng-container>

        <!-- Dynamic Columns -->
        <ng-container *ngFor="let column of columns">
          <ng-container *ngIf="column.isModelProperty || column.property==='ajoutePar'" [matColumnDef]="column.property">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ column.name }} </th>
            <td *matCellDef="let row" mat-cell>
              <p *ngIf="column.property === 'etat' && row[column.property] === 'saisi'">
                  <span class="badge badge-warning">{{ row[column.property]}}</span>
              </p>
              <p *ngIf="column.property === 'etat' && row[column.property] === 'ouvert'">
                  <span class="badge badge-success">{{ row[column.property]}}</span>
              </p>
              <p *ngIf="column.property === 'etat' && row[column.property] === 'fermer'">
                  <span class="badge badge-danger">{{ row[column.property]}}</span>
              </p>
              <p *ngIf="column.property === 'ajoutePar'">
                {{ (row.matricule + ' | ' + row.prenom + ' ' + row.nom + ' - ' + row.fonction) | titlecase }}
              </p>
              <p *ngIf="column.property === 'noteMinistere' " >
                <span> Disponible </span>
              </p>
              <p *ngIf="column.property === 'demandeProspection' " >
                <span>Disponible</span>
              </p>
              <p *ngIf="column.property === 'noteInformation' " >
                <span>Disponible</span>
              </p>               
              <p *ngIf="column.property === 'noteInstruction' " >
                <span>Disponible</span>
              </p>
              <p *ngIf="column.property === 'rapportProspection' " >
                <span>Disponible</span>
              </p>
              <p *ngIf="column.property === 'rapportMission'" >
                <span>Disponible</span>
              </p>
              <p *ngIf="column.property !== 'etat' && column.property !== 'rapportMission' && column.property !== 'rapportProspection' && column.property !== 'noteInstruction' && column.property !== 'noteInformation' && column.property !== 'demandeProspection' && column.property !== 'noteMinistere'">
                <span>{{ row[column.property]}}</span>
              </p>
            </td>
          </ng-container>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="actions-cell"></th>
          <td mat-cell *matCellDef="let row" class="actions-cell">
            <button mat-icon-button [matMenuTriggerFor]="actionsMenu" (click)="$event.stopPropagation()">
              <mat-icon>more_horiz</mat-icon>
            </button>
            <mat-menu #actionsMenu="matMenu">
              <button mat-menu-item (click)="afficherListe(row)" [disabled]="!hasAnyRole(['MENU_DOTATION']) || row.etat === 'fermer' || row.etat === 'saisi'">
                <mat-icon>close</mat-icon>
                <span>AFFICHER LISTE COLONS</span>
              </button>
            </mat-menu>
          </td>
        </ng-container>

        <!-- Table Header and Rows -->
        <tr mat-header-row *matHeaderRowDef="visibleColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: visibleColumns" class="clickable route-animations-elements "></tr>
      </table>

      <mat-paginator [pageSize]="pageSize" class="paginator"></mat-paginator>
    </fury-list>

    <mat-progress-bar *ngIf="showProgressBar === false" mode="query" color="primary"></mat-progress-bar>
    <fury-liste-colons *ngIf="selectedDossierColonie" [colons]="selectedDossierColonie.colons"></fury-liste-colons>
    <fury-read-historique-colonie *ngIf="fileToLoad" [file]="fileToLoad"></fury-read-historique-colonie>
  </fury-page-layout-content>
</fury-page-layout>

<!-- Tableau des colons -->
<fury-page-layout mode="card">
  <fury-page-layout-header>
    <fury-breadcrumbs [@fadeInRight] [crumbs]="['colonie']" current="Colons colonie"></fury-breadcrumbs>
  </fury-page-layout-header>

  <fury-page-layout-content [@fadeInUp]>
    <fury-list *ngIf="colons.length !== 0 && showProgressBar === true" name="Colons" [columns]="columns" (filterChange)="onFilterChange($event)">
      <div class="actions"></div>
      <table [dataSource]="dataSource" mat-table matSort>

        <!-- Dynamic Columns -->
        <ng-container *ngFor="let column of columns">
          <ng-container *ngIf="column.isModelProperty" [matColumnDef]="column.property">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ column.name }} </th>
            <td mat-cell *matCellDef="let row" >
              <p *ngIf="column.property == 'codeDossier'"> {{ row[column.property].code }}</p>
              <p *ngIf="column.name === 'Status'">
                <span *ngIf="row?.status === 'A VALIDER' " class="badge badge-warning">{{ 'A Valider'}}</span>
                <span *ngIf="row?.status === 'VALIDER' " class="badge badge-success">{{ 'Validé(e)' }}</span>
                <span *ngIf="row?.status === 'REJETER' " class="badge badge-danger">{{ 'Rejeté(e)' }}</span>
              </p>
              <p *ngIf="column.property == 'ajoutePar'">{{(row.matricule + ' | ' + row.prenom + ' ' + row.nom) | titlecase }}</p>
              <p *ngIf="column.property == 'ficheSocial' && row[column.property]">Disponible</p>
              <p *ngIf="column.property == 'document' && row[column.property]">Disponible</p>
              <p *ngIf="column.name !== 'Status' && column.property !== 'ficheSocial' && column.property !== 'document' && column.property !== 'ajoutePar' && column.property !== 'codeDossier'">
                {{ row[column.property] }}
              </p>
            </td>
          </ng-container>
        </ng-container>

        <!-- Table Header and Rows -->
        <tr mat-header-row *matHeaderRowDef="visibleColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: visibleColumns" class="clickable"></tr>
      </table>

      <mat-paginator [pageSize]="pageSize" class="paginator"></mat-paginator>
    </fury-list>
    <mat-progress-bar *ngIf="showProgressBar === false" mode="query" color="primary"></mat-progress-bar>
  </fury-page-layout-content>
</fury-page-layout>
