<div mat-dialog-title class="h1-responsive text-align titre_modal_add">DETAILS DOSSIER COLONIE</div>
<mat-dialog-content>
    <mat-accordion class="example-headers-align" multi>
        <div class="example-action-buttons">
            <button *ngIf="showIcon" mat-raised-button color="primary" (click)="accordion.openAll(); showIcon = !showIcon">
                <mat-icon>expand_more</mat-icon> Afficher
            </button>
            <button *ngIf="!showIcon" mat-raised-button color="warn" (click)="accordion.closeAll(); showIcon = !showIcon">
                <mat-icon>expand_less</mat-icon> Fermer
            </button>
        </div>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon>folder_open</mat-icon>
                    <span> Dossier Colonie</span>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>
                <span>Code: </span>{{dossierColonie.code}}
            </mat-panel-description>
            <mat-panel-description>
                <span>Année : </span>{{dossierColonie.annee}}
            </mat-panel-description>
            <mat-panel-description>
                <span>Commentaire : </span>{{dossierColonie.description}}
            </mat-panel-description>
            <mat-panel-description>
                <div *ngIf="dossierColonie.etat === saisi">
                    <span> Etat : </span> <span class="badge badge-warning">{{dossierColonie.etat}}</span>
                </div>
                <div *ngIf="dossierColonie.etat === ouvrir">
                    <span>Etat : </span> <span class="badge badge-info">{{ dossierColonie.etat}}</span>
                </div>
                <div *ngIf="dossierColonie.etat === fermer">
                    <span>Etat : </span> <span class="badge badge-success">{{dossierColonie.etat}}</span>
                </div>
            </mat-panel-description>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon>insert_drive_file</mat-icon>
                    <span>Note du Ministère</span>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>
                <span>Nom du fichier : </span>{{ dossierColonie.noteMinistere ?'': 'Aucun fichier sélectionné' }}
                <a *ngIf="dossierColonie.noteMinistere" [href]="getFileLink(dossierColonie.noteMinistere, 'application/pdf')" target="_blank">Télécharger</a>
            </mat-panel-description>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon>insert_drive_file</mat-icon>
                    <span>Demande de Prospection</span>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>
                <span>Nom du fichier : </span>{{ dossierColonie.demandeProspection ? '' : 'Aucun fichier sélectionné' }}
                <a *ngIf="dossierColonie.demandeProspection" [href]="getFileLink(dossierColonie.demandeProspection, 'application/pdf')" target="_blank">Télécharger</a>
            </mat-panel-description>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon>insert_drive_file</mat-icon>
                    <span>Rapport de prospection</span>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>
                <span>Nom du fichier : </span>{{ dossierColonie.rapportProspection ? '' : 'Aucun fichier sélectionné' }}
                <a *ngIf="dossierColonie.rapportProspection" [href]="getFileLink(dossierColonie.rapportProspection, 'application/pdf')" target="_blank">Télécharger</a>
            </mat-panel-description>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon>insert_drive_file</mat-icon>
                    <span>Note d'information</span>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>
                <span>Pour inscription colonie : </span>{{ dossierColonie.noteInformation ? '' : 'Aucun fichier sélectionné' }}
                <a *ngIf="dossierColonie.noteInformation" [href]="getFileLink(dossierColonie.noteInformation, 'application/pdf')" target="_blank">Télécharger</a>
            </mat-panel-description>
            <mat-panel-description>
                <span>Pour details colonie : </span>{{ dossierColonie.noteInstruction ? dossierColonie.noteInstruction : 'Aucun fichier sélectionné' }}
                <a *ngIf="dossierColonie.noteInstruction" [href]="getFileLink(dossierColonie.noteInstruction, 'application/pdf')" target="_blank">Télécharger</a>
            </mat-panel-description>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon>insert_drive_file</mat-icon>
                    <span>Rapport de mission</span>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>
                <span>Nom du fichier : </span>{{ dossierColonie.rapportMission ? '' : 'Aucun fichier disponible'}}
                <a ngIf="dossierColonie.rapportMission" [href]="getFileLink(dossierColonie.rapportMission, 'application/pdf')" target="_blank">Télécharger</a>
            </mat-panel-description>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon>supervisor_account</mat-icon>
                    <span>Agent Responsable</span>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>
                <span>Matricule : </span>{{dossierColonie.matricule}}
            </mat-panel-description>
            <mat-panel-description>
                <span>Nom : </span>{{dossierColonie.nom.toUpperCase()}}
            </mat-panel-description>
            <mat-panel-description>
                <span>Prénom : </span>{{dossierColonie.prenom.toUpperCase()}}
            </mat-panel-description>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon>perm_identity</mat-icon>
                    <span>Fonction</span>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>
                <span>Nom : </span>{{dossierColonie.fonction}}
            </mat-panel-description>
        </mat-expansion-panel>
    </mat-accordion>
</mat-dialog-content>