<fury-page-layout mode="card">
    <fury-page-layout-header>
      <fury-breadcrumbs [@fadeInRight] [crumbs]="['colonie']" current="Inscription colonie"></fury-breadcrumbs>
    </fury-page-layout-header>
  
    <fury-page-layout-content [@fadeInUp]>
      <fury-list *ngIf="participants.length !== 0 && showProgressBar === true" name="Participants" [columns]="columns" (filterChange)="onFilterChange($event)">
        <div class="actions">
          <button class="create" (click)="createParticipant()" [disabled]="!participants" type="button" mat-mini-fab color="primary">
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <table [dataSource]="dataSource" mat-table matSort>
          <!-- Checkbox Column -->
          <ng-container matColumnDef="checkbox">
            <th mat-header-cell *matHeaderCellDef class="actions-cell">
              <mat-checkbox color="primary" (click)="$event.stopPropagation()" (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()"></mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row" class="actions-cell">
              <mat-checkbox color="primary" (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"></mat-checkbox>
            </td>
          </ng-container>
  
          <!-- Dynamic Columns -->
          <ng-container *ngFor="let column of columns">
            <ng-container *ngIf="column.isModelProperty || column.property === 'ajoutePar' " [matColumnDef]="column.property">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ column.name }} </th>
              <td mat-cell *matCellDef="let row" >
                <p *ngIf="column.property == 'codeDossier'" > {{ row[column.property].code }}</p>
                <p *ngIf="column.name === 'Status'">
                  <span *ngIf="row?.status === 'A VALIDER' " class="badge badge-warning">{{ 'A Valider'}}
                  </span>
                  <span *ngIf="row?.status === 'VALIDER' " class="badge badge-success">{{ 'Validée' }}
                  </span>
                  <span *ngIf="row?.status === 'REJETER' " class="badge badge-danger">{{ 'rejetée' }}
                  </span>
              </p>
              <p *ngIf="column.property == 'ajoutePar'" > {{(row.matriculeAgent + ' | ' + row.prenomAgent + ' ' + row.nomAgent) | titlecase }}</p>
              <p *ngIf="column.property == 'dateNaissance'" > {{ row.dateNaissance | date: 'dd-MMM-yyyy' }}</p>
              <p *ngIf="column.property == 'ficheSocial' && row[column.property]" > Disponible</p>
              <p *ngIf="column.property == 'document' && row[column.property]">Disponible</p>
              <p *ngIf="column.name !== 'Status' && column.property !== 'ficheSocial'&& column.property !== 'document' && column.property !== 'ajoutePar'  && column.property !== 'codeDossier'  && column.property !== 'dateNaissance'">
                    {{ row[column.property] }}
                </p></td>
            </ng-container>
          </ng-container>
  
          <!-- Actions Column -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="actions-cell"></th>
            <td mat-cell *matCellDef="let row" class="actions-cell">
              <button mat-icon-button [matMenuTriggerFor]="actionsMenu" (click)="$event.stopPropagation()">
                <mat-icon>more_horiz</mat-icon>
              </button>
              <mat-menu #actionsMenu="matMenu">
                <button *ngIf="row.status !== 'VALIDER'" mat-menu-item (click)="updateParticipant(row)">
                  <mat-icon>edit</mat-icon>
                  <span>MODIFIER</span>
                </button>
                <button *ngIf="row.status !== 'VALIDER'" mat-menu-item (click)="deleteParticipant(row)">
                  <mat-icon>delete_sweep</mat-icon>
                  <span>SUPPRIMER</span>
                </button>
                <button *ngIf="row.status === 'A VALIDER'" mat-menu-item (click)="validerParticipant(row)">
                  <mat-icon>check_circle_outline</mat-icon>
                  <span>VALIDER</span>
                </button>
                <button *ngIf="row.status === 'A VALIDER'" mat-menu-item (click)="rejeterParticipant(row)">
                  <mat-icon>check_circle_outline</mat-icon>
                  <span>REJETER</span>
                </button>
                <button mat-menu-item [matMenuTriggerFor]="fileMenu">
                  <mat-icon>visibility</mat-icon>
                  <span>AFFICHER FICHIER</span>
                </button>
                <mat-menu #fileMenu="matMenu">
                  <button mat-menu-item (click)="onCellClick('ficheSocial', row)"[disabled]="!hasAnyRole(['MENU_DOTATION'])  || !row.ficheSocial">
                    <span>Fiche Sociale</span>
                  </button>
                  <button mat-menu-item (click)="onCellClick('document', row)"[disabled]="!hasAnyRole(['MENU_DOTATION']) || !row.document">
                    <span>Autres documents</span>
                  </button>
                </mat-menu>
              </mat-menu>
            </td>
          </ng-container>
  
          <!-- Table Header and Rows -->
          <tr mat-header-row *matHeaderRowDef="visibleColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: visibleColumns" (click)="detailsParticipant(row)" class="clickable"></tr>
        </table>
  
        <mat-paginator [pageSize]="pageSize" class="paginator"></mat-paginator>
      </fury-list>
      <div *ngIf="participants.length === 0 && showProgressBar === true" class="card text-center">
        <div class="card-header">
          <span class="badge badge-info">INFORMATION</span>
        </div>
        <div class="card-body">
          <h5 class="card-title">LISTE DES PARTICIPANTS VIDE</h5>
          <p class="card-text">Ajouter un nouveau participant à la colonie</p>
          <button mat-mini-fab color="primary" (click)="createParticipant()"[disabled]="!participants" >
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <div class="card-footer text-muted">
          {{date | date : 'dd/MMM/yyyy HH:mm:ss'}}
        </div>
      </div>
  
      <mat-progress-bar *ngIf="showProgressBar === false" mode="query" color="primary"></mat-progress-bar>
    </fury-page-layout-content>
  </fury-page-layout>
  