<div>
    <mat-icon class="close" mat-button mat-dialog-close>close</mat-icon>
</div>
<div mat-dialog-title class="titre_modal_add" *ngIf="isCreateMode()">Nouveau Participant Colonie</div>
<div mat-dialog-title class="titre_modal_add" *ngIf="isUpdateMode()">Mise à jour Participant Colonie</div>

<form [formGroup]="form" (ngSubmit)="save()">
    <mat-dialog-content>
        <!-- Parent Information -->
        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="34px">
            <mat-form-field fxFlex>
                <mat-label>Matricule Parent</mat-label>
                <mat-select formControlName="matriculeParent" required>
                    <mat-option *ngFor="let agent of agents" [value]="agent.matricule">
                      {{ agent.matricule }}
                    </mat-option>
                  </mat-select>
            </mat-form-field>
        </div>

        <!-- Enfant Information -->
        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="34px">
            <mat-form-field fxFlex>
                <mat-label>Nom Enfant</mat-label>
                <input type="text" formControlName="nom" matInput required>
            </mat-form-field>
            <mat-form-field fxFlex>
                <mat-label>Prénom Enfant</mat-label>
                <input type="text" formControlName="prenom" matInput required>
            </mat-form-field>
        </div>

        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="34px">
            <!-- Groupe Sanguin -->
            <mat-form-field fxFlex>
                <mat-label>Groupe Sanguin</mat-label>
                <mat-select formControlName="groupeSanguin" required>
                    <mat-option value="A+">A+</mat-option>
                    <mat-option value="A-">A-</mat-option>
                    <mat-option value="B+">B+</mat-option>
                    <mat-option value="B-">B-</mat-option>
                    <mat-option value="AB+">AB+</mat-option>
                    <mat-option value="AB-">AB-</mat-option>
                    <mat-option value="O+">O+</mat-option>
                    <mat-option value="O-">O-</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="34px">
            <!-- Date de Naissance -->
            <mat-form-field fxFlex>
                <mat-label>Date de Naissance Enfant</mat-label>
                <input [matDatepicker]="picker1" formControlName="dateNaissance" matInput required>
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
            <!-- Lieu de Naissance -->
            <mat-form-field fxFlex>
                <mat-label>Lieu de Naissance Enfant</mat-label>
                <input type="text" formControlName="lieuNaissance" matInput required>
            </mat-form-field>
        </div>

        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="34px">
            <!-- Sexe -->
            <mat-form-field fxFlex>
                <mat-label>Sexe Enfant</mat-label>
                <mat-select formControlName="sexe" required>
                    <mat-option value="masculin">Masculin</mat-option>
                    <mat-option value="feminin">Féminin</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <!-- Fiche Sociale -->
        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="34px">
                <mat-label>Fiche Sociale</mat-label>
                <input type="file" (change)="handleFicheSociale($event.target.files)"  required>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
        <button mat-button type="button" mat-dialog-close class="cancel">Annuler</button>
        <button mat-button type="submit" [disabled]="form.invalid" class="save">
            {{ isCreateMode() ? 'Ajouter' : 'Mettre à jour' }}
        </button>
    </mat-dialog-actions>
</form>
