<fury-page-layout mode="card">
    <fury-page-layout-header>
      <fury-breadcrumbs [@fadeInRight] [crumbs]="['gestion-pelerinage']" current="Dossier pelerinage"></fury-breadcrumbs>
    </fury-page-layout-header>
  
    <fury-page-layout-content [@fadeInUp]>
      <fury-list *ngIf="dossierPelerinage && showProgressBar === true" name="Dossier pelerinage" [columns]="columns" (filterChange)="onFilterChange($event)">
        <div class="actions">
          <button class="create" (click)="createDossierColonie()" [disabled]="dossiersPelerinage!==null  || !hasAnyRole(['MENU_DOTATION'])" type="button" mat-mini-fab color="primary">
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <table [dataSource]="[dossierPelerinage]" mat-table matSort>
          <!-- Checkbox Column -->
          <ng-container matColumnDef="checkbox">
            <th mat-header-cell *matHeaderCellDef class="actions-cell">
              <mat-checkbox color="primary" (click)="$event.stopPropagation()"></mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row" class="actions-cell">
              <mat-checkbox color="primary" (click)="$event.stopPropagation()"></mat-checkbox>
            </td>
          </ng-container>
  
          <!-- Dynamic Columns -->
          <ng-container *ngFor="let column of columns">
            <ng-container *ngIf="column.isModelProperty || column.property === 'ajoutePar'" [matColumnDef]="column.property">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ column.name }} </th>
              <td *matCellDef="let row" mat-cell>
                <p *ngIf="column.property === 'etat' && row[column.property] === saisi">
                  <span class="badge badge-warning">{{ row[column.property]}}</span>
              </p>
              <p *ngIf="column.property === 'etat' && row[column.property] === ouvert">
                  <span class="badge badge-success">{{ row[column.property]}}</span>
              </p>
              <p *ngIf="column.property === 'etat' && row[column.property] === fermer">
                  <span class="badge badge-danger">{{ row[column.property]}}</span>
              </p>
                <p *ngIf="column.property === 'ajoutePar'">
                  {{ (row.matricule + ' | ' + row.prenom + ' ' + row.nom + ' - ' + row.fonction) | titlecase }}
                </p>
                <p *ngIf="column.property === 'noteInformation' && row.noteInformation" >
                  <span>Disponible</span>
                </p>
                <p *ngIf="column.property === 'rapportPelerinage' && row.rapportPelerinage" >
                  <span>Disponible</span>
                </p>
                <p *ngIf="column.property == 'createdAt'" > {{ row.createdAt | date: 'dd-MMM-yyyy' }}</p>
                <p *ngIf="column.property !== 'etat' && column.property !== 'rapportPelerinage' && column.property !== 'createdAt'  && column.property !== 'noteInformation'">
                  <span>{{ row[column.property]}}</span>
              </p>
              </td>
            </ng-container>
          </ng-container>
  
          <!-- Actions Column -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="actions-cell"></th>
            <td mat-cell *matCellDef="let row" class="actions-cell">
              <button mat-icon-button [matMenuTriggerFor]="actionsMenu" (click)="$event.stopPropagation()">
                <mat-icon>more_horiz</mat-icon>
              </button>
              <mat-menu #actionsMenu="matMenu">
                <button mat-menu-item (click)="updateDossierPelerinage(row)" [disabled]="!hasAnyRole(['MENU_DOTATION']) ">
                  <mat-icon>edit</mat-icon>
                  <span>MODIFIER</span>
                </button>
                <button mat-menu-item (click)="deleteDossierPelerinage(row)" [disabled]="!hasAnyRole(['MENU_DOTATION']) ">
                  <mat-icon>delete_sweep</mat-icon>
                  <span>SUPPRIMER</span>
                </button>
                <button mat-menu-item (click)="fermerDossierPelerinage(row)" [disabled]="!hasAnyRole(['MENU_DOTATION'])  || row.etat === 'saisi'">
                  <mat-icon>close</mat-icon>
                  <span>FERMER</span>
                </button>
                <button mat-menu-item [matMenuTriggerFor]="fileMenu" [disabled]="row.etat === 'fermer'">
                  <mat-icon>visibility</mat-icon>
                  <span>AFFICHER FICHIER</span>
                </button>
                <mat-menu #fileMenu="matMenu">
                  <button mat-menu-item (click)="onCellClick('noteInformation', row)"[disabled]="!hasAnyRole(['MENU_DOTATION'])  || !row.noteInformation">
                    <span>Note Information</span>
                  </button>
                  <button mat-menu-item (click)="onCellClick('rapportPelerinage', row)"[disabled]="!hasAnyRole(['MENU_DOTATION'])  || !row.rapportPelerinage">
                    <span>Rapport Pelerinage</span>
                  </button>
                </mat-menu>
              </mat-menu>
            </td>
          </ng-container>
  
          <!-- Table Header and Rows -->
          <tr mat-header-row *matHeaderRowDef="visibleColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: visibleColumns" (click)="detailsDossierColonie(row)" class="clickable route-animations-elements "></tr>
        </table>
        <mat-paginator [pageSize]="pageSize" class="paginator"></mat-paginator>
      </fury-list>
      <div *ngIf="!dossierPelerinage && showProgressBar === true" class="card text-center">
        <div class="card-header">
          <span class="badge badge-info">INFORMATION</span>
        </div>
        <div class="card-body">
          <h5 class="card-title">DOSSIER PELERINAGE VIDE</h5>
          <p class="card-text">Ajouter un nouveau dossier pelerinage</p>
          <button mat-mini-fab color="primary" *ngIf="hasAnyRole(['MENU_DOTATION'])" (click)="createDossierColonie()" [disabled]="dossierColonies && dossierColonies.etat !== 'fermer'">
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <div class="card-footer text-muted">
          {{ date | date: 'dd/MMM/yyyy HH:mm:ss' }}
        </div>
      </div>
  
      <mat-progress-bar *ngIf="showProgressBar === false" mode="query" color="primary"></mat-progress-bar>
    </fury-page-layout-content>
  </fury-page-layout>
  