<div>
    <mat-icon class="close" mat-button mat-dialog-close>close</mat-icon>
</div>
<div mat-dialog-title class="titre_modal_add" *ngIf="isCreateMode()">Nouvelle Satisfaction</div>
<div mat-dialog-title class="titre_modal_add" *ngIf="isUpdateMode()">Mise à jour Satisfaction</div>

<form [formGroup]="form" (ngSubmit)="save()">
    <mat-dialog-content>
        <!-- Satisfaction Questions -->
        <div *ngFor="let question of questions; let i = index" fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="34px">
            <mat-form-field fxFlex>
                <mat-label>{{ question }}</mat-label>
                <mat-select [formControlName]="question" required>
                    <mat-option [value]="true">Oui</mat-option>
                    <mat-option [value]="false">Non</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="34px">
            <mat-form-field fxFlex>
                <mat-label>Code Dossier Colonie</mat-label>
                <input type="text" formControlName="code" matInput required>
            </mat-form-field>
            <mat-form-field fxFlex>
                <mat-label>Commentaire</mat-label>
                <input type="text" formControlName="commentaire" matInput required>
            </mat-form-field>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
        <button mat-button type="button" mat-dialog-close class="cancel">Annuler</button>
        <button mat-button type="submit" [disabled]="form.invalid" class="save">
            {{ isCreateMode() ? 'Ajouter' : 'Mettre à jour' }}
        </button>
    </mat-dialog-actions>
</form>
