<div>
    <mat-icon class="close" mat-button mat-dialog-close>close</mat-icon>
</div>
<div mat-dialog-title class="titre_modal_add" *ngIf="isCreateMode()">Nouveau Rapport de Prospection</div>
<div mat-dialog-title class="titre_modal_add" *ngIf="isUpdateMode()">Mise à jour Rapport de Prospection</div>
<form [formGroup]="form" (ngSubmit)="save()">
    <mat-dialog-content>
        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="34px">
            <mat-form-field fxFlex *ngIf="mode === 'update'">
                    <mat-label>Code</mat-label>
                    <input matInput formControlName="codeDossierColonie" [disabled]="isUpdateMode()">
                </mat-form-field>
        </div>
        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="34px">
            <mat-label>Rapport de prospection</mat-label>
            <input type="file" (change)="handleRapportProspection($event.target.files)">
</div>

    </mat-dialog-content>
    <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
        <button *ngIf="isCreateMode()" mat-button [disabled]="!form.valid" [ngClass]="{'bg-blue-100': !form.valid, 'bg-blue-400': form.valid}">Valider</button>
        <button *ngIf="isUpdateMode()" mat-button [disabled]="!form.valid">Modifier</button>
    </mat-dialog-actions>
</form>
