<div>
    <mat-icon class="close" mat-button mat-dialog-close>close</mat-icon>
</div>
<div mat-dialog-title class="titre_modal_add" *ngIf="isCreateMode()">Nouveau Dossier</div>
<div mat-dialog-title class="titre_modal_add" *ngIf="isUpdateMode()">Mise à jour Dossier</div>
<div mat-dialog-title class="titre_modal_add" *ngIf="isCloseMode()">Fermeture Dossier</div>
<form [formGroup]="form" (ngSubmit)="save()">
    <mat-dialog-content>
        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="34px">
        <!-- Description -->
        <mat-form-field fxFlex  *ngIf="mode === 'update' || mode === 'create'">
            <mat-label>Description</mat-label>
            <input type="text" formControlName="description" matInput>
        </mat-form-field>
        <mat-form-field fxFlex *ngIf="mode === 'update'">
            <mat-label>Code</mat-label>
            <input matInput formControlName="code">
        </mat-form-field>
        </div>
        <mat-form-field fxFlex *ngIf="mode === 'fermer'">
          <mat-label>Commentaire</mat-label>
          <input matInput formControlName="commentaire">
      </mat-form-field>
      <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="34px">

      <mat-form-field fxFlex *ngIf="mode !== 'fermer'">
        <mat-label>Type</mat-label>
        <mat-select formControlName="type" required>
            <mat-option value="National">National</mat-option>
            <mat-option value="Etranger">Étranger</mat-option>
        </mat-select>
    </mat-form-field>
    </div>
        <div fxLayout="column" fxLayout.gt-sm="column" fxLayoutGap.gt-sm="34px">
        

        <!-- Champ pour télécharger la note du ministère -->
                <mat-label  *ngIf="mode === 'create'">Note du ministère</mat-label>
                <div class="file-upload"  *ngIf="mode === 'create'">
                  <input type="file" class="form-control-file border" id="fileInput" multiple="false"  (change)="handleNoteMinistereFileInput($event.target.files)">
                </div>
                <mat-label  *ngIf="mode === 'update' ">Demande de prospection</mat-label>
                <div class="file-upload"  *ngIf="mode === 'update'">
                  <input type="file" class="form-control-file border" id="fileInput" multiple="false"  (change)="handleDemandeProspectionFileInput($event.target.files)" >
                </div>
               
            <mat-label *ngIf="mode === 'update'  && rapportProspection !==null">Note d'information</mat-label>
            <div class="file-upload" *ngIf="mode === 'update'  && rapportProspection!==null">
                <input type="file" class="form-control-file border" id="fileInput" multiple="false" (change)="handleNotePersonels($event.target.files)">
            </div>

            <mat-label *ngIf="mode === 'update'  && colon.length > 0">Note d'instruction colonie</mat-label>
            <div class="file-upload" *ngIf="mode === 'update'  && colon.length > 0">
                <input type="file" class="form-control-file border" id="fileInput" multiple="false" (change)="handleNotePelerins($event.target.files)">
            </div>

            <mat-label *ngIf="mode === 'update' && satisfactions!==null">Rapport de mission</mat-label>
            <div class="file-upload" *ngIf="mode === 'update' && satisfactions!==null">
                <input type="file" class="form-control-file border" id="fileInput" multiple="false" (change)="handleRapport($event.target.files)">
            </div>
    </div>

    </mat-dialog-content>

    <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
        <button *ngIf="isCreateMode()" mat-button [disabled]="!form.valid 
            ">CREER</button>
        <button *ngIf="isUpdateMode()" mat-button [disabled]="!form.valid">MODIFIER</button>
        <button *ngIf="isCloseMode()" mat-button [disabled]="!form.valid">FERMER</button>
    </mat-dialog-actions>
</form>
