body {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
}.full-width-button {
    background-color: #3f51b5; /* Couleur de fond du bouton */
    color: white; /* Couleur du texte */
    width: 10%; /* Largeur complète */
    height: 100%; /* Hauteur complète */
    
  }
  